/* The element to apply the animation to */
.card-body {
    background-color: #ffffff;
    color: #000000;
}

.team-toggled {
    min-height: 454.8px;
}

/* Card management */
.card-memb .row {
    margin-top: 50px;
}
.card {
    text-align: center;
}

/* ##### Change media view #####
@media only screen and (max-width: 2000px) {
    .team-toggled {
        min-height: 254.8px;
    }
} */